SPRING_PROFILES_ACTIVE=prod
PORT=8080
DB_URL=jdbc:mysql://mysql:3306/apptrip?useSSL=false&serverTimezone=America/El_Salvador&allowPublicKeyRetrieval=true
DB_USERNAME=apptrip_user
DB_PASSWORD=change-me
